.grid {
    margin: 100px 0 0;
  }

button {
  margin-left :10px;
  -webkit-appearance: button;
  text-rendering: auto;
  color: #fff;
  letter-spacing: normal; 
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: rgb(170, 231, 255);
  box-sizing: border-box;
  font: 400 17px system-ui;
  padding: 1px 7px 2px;
  border-width: 1px;
  border-style: solid;
  border-image: initial; 
}
@import url('https://fonts.googleapis.com/css?family=Parisienne|Quicksand&display=swap');
html, body {
	height: 100%;
	margin: 0;
	background: linear-gradient(to bottom,rgb(247, 155, 155), rgb(41, 138, 199));
}
.container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
}
.lead { font-family: 'Quicksand'; }
.header-bar {
	position: relative;
	width: 50%;
	min-width: 300px;
	height: 50px;
	top: 40px;
	border: 10px solid transparent;
	border-top: 10px solid #fffa;
	border-left: 10px solid #fffa;
}
.header-bar::after {
	content: '';
	position: absolute;
	top: -10px;
	right: -10px;
	width: 0%;
	height: 90px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fffa;
	border-right: 10px solid #fffa;
	transition: 0.3s linear all;
}
.header-bar > .logo {
	position: absolute;
	top: -25px;
	left: 10px;
	transform: translateY(-50%);
	color: #fffc;
	font-family: 'Parisienne', cursive;
	cursor: default;
	user-select: none;
}
.slider-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.slider-menu > li {
	display: inline-flex;
	padding: 12px;
	margin-left: 0px;
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
	border: 0px solid transparent;
}
.slider-menu > li:hover {
	color: #faa;
	box-shadow: 0 80px 5px rgba(0, 0, 0, 0.15) inset;
}
